In [2]:
A = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
     ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
     ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
     ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
     ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [3]:
type(A)

list

# Transaction Encoded format

In [5]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
import pandas as pd
A = pd.DataFrame(te.fit_transform(A),columns=te.columns_)

In [6]:
A

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [7]:
from mlxtend.frequent_patterns import apriori
C = apriori(A,use_colnames=True)

In [8]:
C

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Eggs, Kidney Beans, Onion)

In [9]:
Q = []
for i in C.itemsets:
    Q.append(len(i))

In [10]:
Q

[1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3]

In [11]:
C['Length']= Q

In [13]:
C[C.Length == 2]

   support                itemsets  Length
5      0.8    (Eggs, Kidney Beans)       2
6      0.6           (Eggs, Onion)       2
7      0.6    (Milk, Kidney Beans)       2
8      0.6   (Kidney Beans, Onion)       2
9      0.6  (Yogurt, Kidney Beans)       2

In [14]:
C[C.Length == 3]

    support                     itemsets  Length
10      0.6  (Eggs, Kidney Beans, Onion)       3

In [15]:
C

    support                     itemsets  Length
0       0.8                       (Eggs)       1
1       1.0               (Kidney Beans)       1
2       0.6                       (Milk)       1
3       0.6                      (Onion)       1
4       0.6                     (Yogurt)       1
5       0.8         (Eggs, Kidney Beans)       2
6       0.6                (Eggs, Onion)       2
7       0.6         (Milk, Kidney Beans)       2
8       0.6        (Kidney Beans, Onion)       2
9       0.6       (Yogurt, Kidney Beans)       2
10      0.6  (Eggs, Kidney Beans, Onion)       3

In [16]:
A.columns

Index(['Apple', 'Corn', 'Dill', 'Eggs', 'Ice cream', 'Kidney Beans', 'Milk',
       'Nutmeg', 'Onion', 'Unicorn', 'Yogurt'],
      dtype='object')

calculate according to Apple

In [17]:
A

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [18]:
CT = []
for i in A.columns:
    CT.append(A[A[i] == True][i].count())

In [19]:
CT

[1, 2, 1, 4, 1, 5, 3, 2, 3, 1, 3]

In [20]:
ind = {}
x = 0
for i in A.columns:
    ind[i]=CT[x]
    x = x + 1

In [21]:
ind

{'Apple': 1,
 'Corn': 2,
 'Dill': 1,
 'Eggs': 4,
 'Ice cream': 1,
 'Kidney Beans': 5,
 'Milk': 3,
 'Nutmeg': 2,
 'Onion': 3,
 'Unicorn': 1,
 'Yogurt': 3}

In [22]:
Q1 = []
Q2 = []
Q3 = []
for i in A.columns:
    for j in A.columns:
        Q1.append(i)
        Q2.append(j)
        Q3.append(A[(A[i] == True) & (A[j]==True)].shape[0])

In [23]:
A3 = pd.DataFrame([Q1,Q2,Q3]).T
A3.columns = ["item1","item2","PairCount"]

In [24]:
W1 = []
for i in A3.item1:
    W1.append(ind[i])

In [25]:
A3["individual"]=W1

In [26]:
A3

      item1      item2 PairCount  individual
0     Apple      Apple         1           1
1     Apple       Corn         0           1
2     Apple       Dill         0           1
3     Apple       Eggs         1           1
4     Apple  Ice cream         0           1
..      ...        ...       ...         ...
116  Yogurt       Milk         2           3
117  Yogurt     Nutmeg         2           3
118  Yogurt      Onion         2           3
119  Yogurt    Unicorn         1           3
120  Yogurt     Yogurt         3           3

[121 rows x 4 columns]